---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Contact - IsMail">
  <Header />
  <main>
    <HeroSection
      title="Contact IsMail"
      description="We're here to help with any questions you might have about our services."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout>
