---
layout: '../layouts/Base.astro'
import Button from '../components/Button.astro';

// The title for the page will be set in Base.astro or can be overridden here.
// For example: export const title = "SolarPunk Club";
---

<div style="text-align: center; padding-top: 100px; color: white;">
  <h1>Welcome to the Solarpunk Future!</h1>
  <p>This is a one-page website.</p>
</div>
